
*,
*::after,
*::before{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 136%;
    color: #fff;
    background: #000;
}

.container {
    max-width: 1490px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/header/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header-top {
    padding: 50px 85px;
    margin-bottom: 134px;
}
.top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.top-column {
    padding: 14px 10px;
}

.column-top-logo {
    font-size: 24px;
    line-height: 136%;
}
.menu-burger__header {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 139%;
    cursor: pointer;
}
.menu-list-item:not(:last-child){
    margin-right: 50px;
}

.column-top-search {
    font-family: Open Sans;
font-weight: 400;
font-size: 17px;
line-height: 135%;
background: transparent;
border: none;
color: inherit;
opacity: 0.6;
display: block;
padding-left: 34px;
position: relative;
cursor: pointer;
}
.column-top-search::before{
    position: absolute;
    content: url(../images/header/search-icon.svg);
    top: 4px;
    left: 0;
}
.header-content {
    position: relative;
    
}
.content-header-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 95px;
    left: 43px;
}
.social-text {
    font-family: Open Sans;
font-weight: 600;
font-size: 18px;
line-height: 139%;
transform: rotate(90deg);
margin-bottom: 40px;
}
.social-link{
    font-size: 32px;
    line-height: 130%;
}

.content-header-title {
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 125px;
}
.header-body-subtitle {
    padding: 0 10px 0 104px;
    margin-bottom: 32px;
    position: relative;
}
.header-body-subtitle::before{
    content: '';
    position: absolute;
       width: 72px;
height: 2px;
left: 0px;
top: 10px;

background: #FFC178;
}
._main-title-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 139%;
letter-spacing: 6px;
text-transform: uppercase;
color: #FFC178;
}
.header-body-title span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
font-size: 96px;
line-height: 104%;
text-transform: capitalize;
color: #FFFFFF;
}
.header-body-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
font-size: 88px;
line-height: 114%;
text-transform: capitalize;
}

.scroll-text {
        display: inline-block;
    font-family: Open Sans;
font-weight: 600;
font-size: 18px;
line-height: 167%;
position: relative;
padding-right: 25px;
cursor: pointer;
}
.content-header-scroll {
    text-align: center;
}
.scroll-text::after{
    position: absolute;
    content: url(../images/header/arrow_down.svg);
    right: 0;
    top: 2px;
}
.enjoy {
    padding-top: 250px;
    margin-bottom: 250px;
}
.enjoy-body {
    display: flex;
    margin: 0 -116px;
}
.enjoy-body-column {
    flex: 0 1 50%;
    padding: 0 116px;
}
.enjoy-column {
}
.enjoy-column-img {
    object-fit: cover;
    max-width: 598px;
}
.enjoy-column-content{
    padding-top: 85px;
    padding-bottom: 85px;
}
.enjoy-column-content *:not(:last-child)  {
    margin-bottom: 27px;
}
.enjoy-column-head {
}
.enjoy-head {
}
._main-title {
}
.enjoy-head-subtitle {
}
._main-title-subtitle {
}
.enjoy-head-title {
    font-weight: 700;
font-size: 64px;
line-height: 136%;
}
.content-text {
    font-weight: 400;
font-size: 18px;
line-height: 178%;
}
.more {
    display: inline-block;
    font-weight: 700;
font-size: 18px;
line-height: 139%;
color: #FBD784;
padding-right: 30px;
position: relative;
cursor: pointer;
}
.more::after{
    position: absolute;
    content: url(../images/enjoy/arrow-right.svg);
    top: 3px;
    right: 0;
}
.bromo-slider {
    margin-bottom: 250px;
}
.item-slider-img {
    object-fit: cover;
    max-width: 1460px;
    height: 100%;
}
.item-slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -550px;
}
.prev {
    position: absolute;
    top: 380px;
    left: 40px;
    z-index: 2;
}
.next {
    position: absolute;
    right: 40px;
    top: 380px;
    z-index: 2;
}
.bromo-head-subtitle {
    margin-bottom: 24px;
    padding: 0 101px;
    position: relative;
}
.bromo-head-subtitle::before{
    position: absolute;
    content: '';
    width: 72px;
height: 2px;
left: 0;
top: 10px;
background: #FBD784;
}
.bromo-head-subtitle::after{
    position: absolute;
    content: '';
    width: 72px;
height: 2px;
right: 0;
top: 10px;
background: #FBD784;
}
.bromo-head-title {
    max-width: 705px;
    margin-bottom: 27px;
    text-align: center;
}
.bromo-content-text {
    max-width: 934px;
    margin-bottom: 39px;
    text-align: center;
}
.bromo-content-more {
    padding-bottom: 40px;
}
.culture {
    margin-bottom: 250px;
}
.culture-body {
    display: flex;
}
.body-culture-content {
    flex: 0 1 50%;
    max-width: 632px;
    padding: 115px 43px;
}
.body-culture-content *:not(:last-child){
    margin-bottom: 27px;
}
.culture-head-subtitle {
    padding-left: 96px;
    position: relative;
}
.culture-head-subtitle::before{
    position: absolute;
    content: '';
    width: 72px;
height: 2px;
left: 0px;
top: 11px;
background: #FBD784;
}
.body-culture-img {
    max-width: 580px;
    flex: 0 1 50%;
    margin-left: auto;
}
.getstarted {
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.getstarted-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body-getstarted-logo {
    font-size: 48px;
line-height: 135%;
letter-spacing: 0.01em;
text-transform: capitalize;
}
.content-getstarted {
    display: flex;
    align-items: center;
}
.content-getstarted-text {
    font-family: DM Sans;
font-weight: 400;
font-size: 22px;
line-height: 132%;
letter-spacing: -0.3px;
padding: 20px 55px;
}
.content-getstarted-btn {
    font-family: DM Sans;
font-weight: 700;
font-size: 17px;
line-height: 129%;
color: #000000;
padding: 24px 75px 24px 70px;
background: #FFA343;
border-radius: 8px;
}
.footer-top {
   margin-bottom: 100px;
}
.footer-body {
    display: flex;
    padding-top: 55px;
}
.footer-column1 {
    flex: 0 1 34%;
    padding-right: 100px;
}
.footer-column1-form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.footer-column1-title {
    font-size: 36px;
line-height: 136%;
letter-spacing: -0.3px;
margin-bottom: 50px;
}
.email-input {
    background: transparent;
    border: none;
    outline: none;
    padding: 30px 132px 0px 15px;
    color: #fff;
}
.submit-form {
    background: transparent;
    border: none;
    background: #FFA343;
    border-radius: 8px 8px 0px 0px;
    width: 70px;
    height: 70px;
    position: relative;
    cursor: pointer;
}
.submit-form::before{
    position: absolute;
    content: url(../images/footer/next_icon.svg);
    top: 40%;
    left: 0;
    right: 0;
}
.footer-column {
    flex: 0 1 22%;
    padding-left: 92px;
    padding-right: 92px;
    padding-top: 30px;
}
.footer-column-title {
    font-size: 20px;
line-height: 0%;
letter-spacing: -0.231818px;
color: #FFD1A0;
margin-bottom: 20px;
}
.footer-list-item {
    line-height: 230%;
    font-size: 19px;
}
.footer-item {
    list-style: none;
}
.footer-item-link {
    font-weight: 400;
    font-size: 19px;
}
.footer-bottom {
    padding-bottom: 180px;
}
.bottom-footer-inner {
    padding: 0 41px;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content {
    display: flex;
}
.footer-content-link {
    cursor: pointer;
}
.content-link-text {
    font-family: DM Sans;
font-weight: 400;
font-size: 15px;
line-height: 133%;
letter-spacing: -0.204545px;
margin-right: 50px;
}
.footer-social-link:not(:last-child) {
    margin-right: 50px;
}
.social-footer {
    cursor: pointer;
}

@media (max-width: 1600px) {
    .enjoy {
        padding-top: 150px;
        margin-bottom: 150px;
    }
    .enjoy-body {
        display: flex;
        margin: 0;
    }
    .enjoy-body-column {
        flex: 0 1 50%;
        padding: 0 50px;
    }
    .slider-body {
        padding: 0 40px;
    }
    .prev {
        left: 80px;
    }
    .next {
        right: 80px;
    }
    .bromo-slider {
        margin-bottom: 150px;
    }
    .culture {
        margin-bottom: 150px;
    }
    .culture-body {
        justify-content: space-between;
    }
    .body-culture-img {
        max-width: 580px;
        flex: 0 1 50%;
        margin-left: 0;
        padding: 0 50px;
        object-fit: cover;
    }
    .body-culture-content {
        padding: 0 50px;
        max-width: 100%;
    }
    .getstarted-body {
        padding: 0 40px;
    }
    .footer-body {
        display: block;
        text-align: center;
    }
    .footer-column1 {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 150px;
    }
    .footer-column1-title {
        margin-bottom: 0;
        margin-top: 50px;
        padding-left: 50px;
    }
    .footer-column {
        display: inline-block;
        vertical-align: top;
        padding: 30px 50px 0;
        text-align: justify;
    }

}

@media (max-width: 1420px) {
    ._main-title-title {
        font-size: 44px;
        line-height: 136%;
    }
}

@media (max-width: 1300px) {
    .footer-column1 {
        display: block;
        padding-right: 0;
    }
    .footer-column1-form {
        margin: 0 auto;
        width: 400px;
    }
    .footer-column1-title {
        text-align: center;
        padding-left: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .content-header-social{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 295px;
        left: 40%; 
    }
    .social-text {
        transform: rotate(0deg);
        margin-bottom: 0;
        padding-right: 10px;
    }
    .social-link{
        padding-right: 10px;
    }
    .enjoy-column-image, .body-culture-img {
        flex: 0 1 30%;
    }
    .enjoy-column-content, .body-culture-content {
        flex: 0 1 70%;
    }
    .enjoy-column-img, .body-culture-img {
        height: 400px;
    }
    .item-slider-img {
        height: 800px;
        opacity: 0.7;
        width: 100%;
    }
    .culture {
        margin-bottom: 100px;
    }
}

@media (max-width: 990px) {
    .header-body-title {
        font-size: 64px;
        text-align: center;
    }
    .header-body-title span{
        font-size: 84px;
    }
    .header-body-subtitle {
        padding-left: 10px;
        text-align: center;
    }
    .content-header-title {
        margin-bottom: 265px;
    }
    .culture-head-subtitle {
        padding-left: 0;
    }
    ._main-title-subtitle::before, ._main-title-subtitle::after{
        display: none;
     }
    .header-top {
        margin-bottom: 85px;
    }
    .header-content {
        padding: 0 20px;
    }
    ._main-title-title {
        font-size: 34px;
        line-height: 136%;
    }
    .slider-body {
        margin-bottom: 100px;
    }
    .enjoy, .bromo-slider, .culture {
        margin-bottom: 50px;
    }
}

@media (max-width: 900px) {
    .enjoy-body, .culture-body {
        flex-wrap: wrap;
    }
    .enjoy-column-image, .enjoy-column-content, .body-culture-content, .body-culture-img {
        flex: 0 1 100%;
    }
    .item-slider-img {
        height: 700px;
    }
    .prev {
        top: 50%;
        left: 15px;
     }
     .next {
         top: 50%;
         right: 15px;
     }
    .bromo-content-text {
        text-align: justify;
        padding: 0 10px;
    }
    .body-culture-img {
        max-width: 400px;
        order: -1;
        margin-bottom: 30px;
    }
    .getstarted-body {
        display: block;
        text-align: center;
    }
    .body-getstarted-logo {
        display: inline-block;
        margin-bottom: 30px;
        font-size: 42px;
    }
    .body-getstarted-content {
        display: block;
    }
    .culture {
        margin-bottom: 0;
    }
}

@media(max-width: 767px) {
    .menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 30px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #fff;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }
    .menu-list {
        display: block;
        position: absolute;
        z-index: 2;
        top: 100px;
        left: 0;
        background: #2c2927;
        box-shadow: rgb(88, 86, 86);
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(160, 157, 157, 0.17);
        left: -100%;
        transition: all 0.4s ease;
        overflow: auto;
    }
    .menu-list.open-menu {
        left: 0;
    }
    .menu-list-item {
        padding: 30px;
    }
    .column-top-logo {
        padding-left: 0;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .fixed-page{
        overflow: hidden; /*запрещаем прокручивание страницы при открытом меню*/
    }
    .header-top {
        margin-bottom: 93px;
        padding: 25px 11px;
    }
    .slider-body {
        padding: 0;
    }
}

@media (max-width: 700px) {
    .footer-column {
        padding: 30px 20px 0;
    }
    .footer-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-link-text:first-child {
        margin-left: 50px;
    }
}

@media (max-width: 670px) {
    .header-body-title {
        font-size: 44px;
        text-align: center;
    }
    .header-body-title span{
        font-size: 64px;
    }
    .content-header-social{
        top: 225px;
        left: 0;
        right: 0;
    }
    .enjoy, {
        padding-top: 50px;
    }
    .enjoy-column, .body-culture-content {
        text-align: center;
    }
    .body-culture-img {
        display: inline-block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .content-text {
        text-align: justify;
    }
    .bromo-head-title {
        padding: 0 5px;
        line-height: 134%;
    }
    .content-link-text:first-child {
        margin-left: 0px;
    }
    .content-link-text {
        margin: 0 15px;
    }
    .column-top-logo {
        padding-left: 74px;
    }
}

@media (max-width: 540px) {
    .column-top-logo {
        padding-left: 40px;
    }
    .menu-list-item {
        padding: 10px 0;
    }
    .header-body-title {
        font-size: 34px;
        text-align: center;
    }
    .header-body-title span{
        font-size: 54px;
    }
    .item-slider-content {
        margin-top: -750px;
    }
    .item-slider-img {
        height: 800px;
    }
    .footer-body {
        text-align: justify;
    }
    .footer-bottom {
        padding-bottom: 50px;
    }
}
@media (max-width: 420px) {
    .header-body-title {
        font-size: 24px;
        text-align: center;
    }
    .header-body-title span{
        font-size: 44px;
    }
    .enjoy-column-img {
        height: 300px;
    }
    .body-culture-img {
        max-width: 300px;
        height: 300px;
    }
   .footer-column1-form {
       max-width: 300px;
   }
   .email-input {
       padding-right: 45px;
   }
   .submit-form {
       width: 60px;
       height: 60px;
   }
}

@media (max-width: 390px) {
    .enjoy-column-img {
        height: 250px;
    }
    .header-top {
        margin-bottom: 150px;
    }
    .content-header-social {
        bottom: 0;
    }
    .header-body-subtitle {
        margin-bottom: 50px;
    }
    ._main-title-title {
        font-size: 28px;
    }
    .content-header-scroll {
        display: none;
    }
    .content-getstarted-text {
        padding: 15px;
    }
    .content-getstarted-btn {
        padding: 15px 30px;
    }
    .body-getstarted-logo {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .footer-content {
        display: block;
    }
    .content-link-text {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer-column1-title {
        font-size: 32px;
        margin-top: 20px;
    }
    .footer-column1 {
        margin-bottom: 50px;
    }
    .footer-column1-form {
        max-width: 320px;
    }
}

@media (max-width: 350px) {
    .column-top-logo {
        padding-left: 20px;
    }
    .footer-column {
        display: block;
    }
    .footer-column1 {
        margin-bottom: 50px;
    }
}

}

font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
